/*custom css */
.nav-tabs .nav-link {
	background-color: transparent !important;
	color: black !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}

.nav-tabs .nav-link.active {
	border-bottom: solid 4px black !important;
}

.sidebar-icon:hover {
	padding: 5px;
	box-sizing: content-box;
	background: black;
	cursor: pointer;
}

/* Sidebar.css */
.sidebar {
	position: fixed;
	top: 0;
	z-index: 10;
	left: -250px;
	/* Sidebar is initially off-screen */
	width: 250px;
	height: 100%;
	background-color: #333;
	overflow-x: hidden;
	padding-top: 60px;
	/* Space for the close button */
	transition: 0.5s;
}

.sidebar.open {
	left: 0;
	/* Move the sidebar on-screen when open */
}

.close-button {
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
	background: none;
	border: none;
	color: white;
	font-size: 20px;
}

.close-button:hover {
	background: lightgray;
}

/* Adjust the styling for react-bootstrap Nav component */
.nav-link {
	color: white !important;
}

.nav-link:hover {
	color: #61dafb !important;
}